                    {% set tabs_parsed = [] %}
                    {% if project.tabs_data %}
                        {% set tabs_parsed = project.tabs_data|from_json %}
                    {% endif %}
                    
                    {% if tabs_parsed %}
                        <!-- Динамические табы -->
                        <ul class="project-tabs-nav">
                            {% for tab in tabs_parsed %}
                                <li>
                                    <button class="nav-link {% if loop.index == 1 %}active{% endif %}" onclick="showProjectTab('{{ tab.id }}', this)">
                                        {{ tab.title }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                        
                        <div class="project-tabs-content">
                            {% for tab in tabs_parsed %}
                                <div id="{{ tab.id }}" class="project-tab-pane {% if loop.index == 1 %}active{% endif %}">
                                    {{ tab.content|safe }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!-- Старый контент без табов -->
                        {{ project.content|safe }}
                    {% endif %}

                    {% if project.button_text and project.button_url %}
                    <div style="margin-top: 3rem;">
                        <a href="{{ project.button_url }}" class="btn-project-action" target="_blank">{{ project.button_text }}</a>
                    </div>
                    {% endif %}
