:root {
    --copp-bg: #f6f6f5; /* White Rock */
    --copp-blue: #00334e; /* Prussian Blue */
    --copp-tropicalblue-hover: #70c6d1;
    --copp-lochamara-hover: #007fbd; /* Web Orange */
    --copp-blue2: #0066ff;
    --copp-text: #333333;
}