    <!-- Фоновые кляксы -->
    <div class="blob blob-1" data-speed="1.5"></div>
    <div class="blob blob-2" data-speed="-2"></div>
    <div class="blob blob-3" data-speed="2.5"></div>

    {% set shapes = ['shape-stripes', 'shape-dots', 'shape-circle', 'shape-wave'] %}
    <div class="shape-pattern shape-stripes" style="top: 10%; right: -50px; opacity: 0.5;"></div>
    <div class="shape-pattern shape-dots" style="bottom: 20%; left: 0; opacity: 0.6;"></div>
    <div class="shape-pattern shape-wave" style="top: 40%; right: 5%; opacity: 0.3;"></div>
