{% extends 'base.html' %}

{% block title %}{{ project.title }} - ЦОПП РК{% endblock %}

{% set theme_color = project.project_color if project.project_color else '#0066ff' %}

{% block extra_css %}
    {% include 'project/styles.html' %}
{% endblock %}

{% block content %}
<div class="news-bg-wrapper" id="parallaxNewsWrapper">
    <!-- Фоновые кляксы -->
    {% include 'project/background_shapes.html' %}

    <div class="news-content-layer">
        <a href="{{ url_for('main.index') }}" class="back-link">&larr; На главную</a>

        <div class="news-container">
            {% include 'project/header.html' %}

            <div class="news-layout">
                <div class="news-text-content">
                    {% include 'project/tabs.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'project/scripts.html' %}
{% endblock %}
